{% extends 'shop/basefile.html' %}
{%  block title %} {{product.product_name}}{% endblock %}
{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <img src="/media/{{product.img}}">
            <div class="row mt-3">
                <button class="btn btn-primary mx-3" type="submit">Buy Now</button>
                <button class="btn btn-primary" type="submit">Add to Cart</button>
            </div>
        </div>

        <div class="col-md-8">
            <h1>{{product.product_name}}</h1>
            <p>{{product.product_desc}}</p>
            <p> <b>Rs - {{product.price}}</b></p>

        </div>
    </div>
</div>

{% endblock %}